<!DOCTYPE html>
<html>
<head>
	<title>Conu Web App</title>

</head>
<body>
	<script src="script.js"></script>
	<h1>Register Form:</h1>
	<form>
		<p>Name: </p>
		<input type="text" id="name" placeholder="Name">

		<p>Second Name: </p>
		<input type="text" id="sname" placeholder="Second Name">

		<p>Phone: </p>
		<input type="text" id="phone" placeholder="Phone">

		<p>Enterprise: </p>
		<input type="text" id="etps" placeholder="Enterprise">

		<p>Address: </p>
		<input type="text" id="adrs" placeholder="Address">

		<p>Email: </p>
		<input type="text" id="email" placeholder="Email">

		<p></p>
		
		<button id="submit">register</button>
	</form>
</body>
</html>
